.drawer-index-header {
  position: relative;
  font-family: 'Raleway';
  font-size: 20px;
  color: #7f7f7f;
  height: 50px;
  border-bottom: 1px solid #ececec;
}



.drawer-index-title {
  text-transform: uppercase;
  font-size: 22px;
  margin: 25px 25px -15px 25px;
  letter-spacing: 2px;
  font-weight: 300;

}

.notebook-index-item-li.selectedNotebook {
  background: #40BC6C;
  color: #FFFFFF;
  border-bottom: 1px solid #40BC6C;
  margin-top: -1px;
}
.notebook-index-item-li.selectedNotebook div {
  color: #FFFFFF;
}

.notebook-item-list:first-child {
  margin-top: 37px;
}


.notebook-index-item-li {
  height: 60px;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  transition: background .2s ease-in-out;
  color: #7f7f7f;
}

.notebook-index-item-li > div {
  margin-left: 27px;
}

.notebook-index-item-title-container {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 2px;
}

.notebook-index-item-title {
  font-size: 16px;
  font-family: 'Martel';
  color: #40BC6C;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 330px;
}

.notebook-index-item-description {
  font-family: 'Open Sans';
  margin-top: 5px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.notebook-index-item-li:hover {
  color: #ffffff;
  background: #40BC6C;
  cursor: pointer;
}

.notebook-index-item-li:hover .notebook-index-item-title {
  color: #ffffff;
}

.notebook-notes-count {
  font-family: 'Open Sans';
  font-size: 12px;
}

.notebook-index-item-li:hover .notebook-note-count {
  color: #ffffff;
}

.notebook-add-button {
  position: absolute;
  display: block;
  height: 24px;
  width: 24px;
  background-image: image-url("create-notebook-icon-plus.png");
  background-size: 24px;
  background-repeat: no-repeat;
  right: 25px;
  top: 1px;
}

.notebook-add-button:hover {
  cursor: pointer;
}

.delete-notebook-button{
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  background-image: image-url("delete-note-unclicked.png");
}

.delete-notebook-button:hover {
  background-image: image-url("delete-note-clicked.png");
}
