.note-container {
  height: 60vh;
  width: 60vw;
  padding: 0 20px 20px 20px;
}


.note-header-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  font-family: 'Martel';
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.note-form-container {
  max-width: 840px;
  margin: 0 auto;
}

.note-title-form {
  font-size: 30px;
  color: #40BC6C;
  width: 100%;
  font-family: 'Martel';
  outline: none;
  border: none;
}

.note-container-empty {
  position: relative;
  width: 80vw;
}

.note-container-empty > img {
  position: absolute;
  display: block;
  height: 128px;
  width: 128px;
  top: 35%;
  left: 35%;
  opacity: .7;
}

.note-tools-container {
  display: flex;
  padding: 5px 20px 20px 20px;
  flex-wrap: nowrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: flex-start;
}

.note-tools-container > div {
  margin-right: 30px;
}
