.note-container {
  height: 60vh;
  width: 100%;
  padding: 0 20px 20px 20px;
}


.note-header-container {
  max-width: 940px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  font-family: 'Martel';
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.note-form-container {
  max-width: 965px;
  margin: 0 auto;
}

.note-title-form {
  font-size: 30px;
  color: #40BC6C;
  width: 100%;
  font-family: 'Martel';
  outline: none;
  border: none;
}

.note-container-empty {
  position: relative;
  width: 80vw;
}

.note-container-empty > img {
  position: absolute;
  display: block;
  height: 128px;
  width: 128px;
  top: 35%;
  left: 35%;
  opacity: .7;
}

.note-tools-container {
  display: flex;
  padding: 5px 20px 20px 20px;
  flex-wrap: nowrap;
  // max-width: 800px;
  margin: 0 auto;
  justify-content: flex-start;
}

.note-tools-container > div {
  margin-right: 30px;
}

.noteview-delete-button {
  height: 24px;
  width: 24px;
  background-size: 24px;
  background-image: image-url("trashcan-icon-grey-outline.png")
}
.noteview-delete-button:hover {
  background-image: image-url("trashcan-icon-green-outline.png")
}
.noteview-save-button {
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-image: image-url("save-icon-grey-outline.png");
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: -24px;
}

.noteview-save-button:hover {
  background-image: image-url("save-icon-green-outline.png")
}

.noteview-tags-button {
  background-image: image-url("tags-noteview.png");
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-left: -27px;
  cursor: default;
}

.noteview-tags {
  margin-top: 2px;
}

.noteview-tags input[type="text"] {
  outline: none;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #40BC6C;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 300px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
