

.header {
  border-bottom: 1px solid black;
  padding: 20px 10px;
  background: white;
}

.header button {

}

.header-left {
  float: left;
}

.header-login {
  float: right;
}

.header-link {
  float: left;
  padding: 10px 5px;
  color: #40BC6C;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 7px;
  margin-left: 5px;
}

.header-link a {
  display: block;
}

.header-icon {
  float: left;
  margin-top: 3px;
}

.content {
  margin: 10%;
}

.header button, .content button, .content input {
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
}

.content-login {
  width: 550px;
  margin: 0 auto;
  text-align: center;
}

.content-login li {
  color: orange;
  padding-bottom: 6px;
}

.content-login h2 {
  font-size: 2.375rem;
  color: white;
  cursor: default;
  font-family: 'Josefin Sans', sans-serif;
}

.content-login p {
  font-size: 1.25rem;
  color: white;
  cursor: default;
  font-family: 'Open Sans';
}

.content .login-form input {
  padding: 8px 10px;
  margin-bottom: 10px;
  outline: none;
}

.content fieldset {
  margin-top: 10px;
}

.login-form label, .top-errors {
  list-style: none;
}

.content input[type="text"], .content input[type="password"] {
    font-size: 18px;
    width: 30%;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.content .signup-form input[type="submit"], .content-login-button, .guest-login-button, .header-login-button{
  background: #40BC6C;
  display: block;
  border: none;
  border-radius: 3px;
  width: 33%;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  margin-bottom: 22px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 10px;
  cursor: pointer;
  outline: none;
}

.content-login-button {
  float: left;
  margin-left: 63px;
}

.content .top-errors li {
  margin-bottom: -6px;
}

.guest-login-button {
  float: right;
  margin-right: 63px;
}

form li, .top-errors {
  font-family: "Open Sans";
}

.top-errors {
  margin: 7px 0;
  line-height: 21px;
}

.passErrors {
  margin-bottom: -35px;
}

.content input[type="submit"]:hover, .header button:hover, .content button:hover{
  background: #229149;
  transition: background 0.25s ease-in-out;
}

.header-login {
  padding-top: 7px;
  margin-bottom: -15px;
}

.header-login-button {
  width: 100px;
  padding: 8px 10px;
}

.footer p {
  width: 100%;
  position: fixed;
  height: 70px;
  bottom: 0;
  background: #414141;
  border-top: 3px solid #2E2E2E;
  color: white;
  font-size: 1rem;
  line-height: 70px;
  text-align: center;
  letter-spacing: 2px;
  font-family: sans-serif;
  cursor: default;
  margin-bottom: 0;
}

.footer span {
  color: #40BC6C;
}
